body {
    background-color: #f0f0f0;
    margin: 0;
    font-family: sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 0 35px;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav a {
    text-decoration: none;
    color: #ecf0f1;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s;
}

nav a:hover {
    color: #555; 
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    z-index: 0; 
}

.grid-item {
    width: 12rem;
    height:  12rem;
    background-color: #ddd; 
    border: 1px solid #aaa; 
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative; 
    transition: background-color 0.3s;
}

.grid-item:hover {
    background-color: #aaa; 
}

.top {
    display: flex;
    flex-direction: row;
}

.col-characteristic, .row-characteristic {
    width: 12rem;
    height: 12rem;
    background-color: #ddd;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #aaa; 
    box-sizing: border-box;
}

.app{
    display: grid;
    flex-direction: column;
    place-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-size: 24px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
}

.modal-content {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 60%; 
    max-width: 500px; 
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.modal-content input {
    width: 100%; 
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 10px;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

#pokemon-list button {
    display: block;
    margin-left: auto; 
}

#pokemon-list {
    max-height: 175px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: none;
    padding: 20px;
    z-index: 2; 
}

#pokemon-list div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px; 
}

#pokemon-list span {
    flex: 1;
    align-items: center;
}

.percentage {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    color: rgb(24, 108, 163);
}

.pokemon-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 144px;
    height: 144px;
}

.pokemon-name {
    position: absolute;
    top: 93%; 
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
}

.pokemon-dropdown-image {
    width: 74px;
    height: 74px;
}

#score-heading {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

#total-score {
    text-align: center;
}

#postGameModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

#postGameModal .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#postGameModal .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #333;
}

.post-modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    max-width: 700px; 
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#postGameModal .post-modal-content #smallerGridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0; 
    padding: 0; 
}

#postGameModal .post-modal-content .most-submitted {
    width: 9rem;
    height:  9rem;
    background-color: #ddd; 
    border: 1px solid #aaa; 
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative; 
    transition: background-color 0.3s;
}


#postGameModal .pokemon-image {
    max-width: 75%;
    height: auto;
}

#postGameModal .percentage {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    color: rgb(24, 108, 163);
}

#postGameModal .pokemon-name {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
}
