{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <!-- Load favicon -->
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}" />

    <!-- Include your CSS files here -->
    <link rel="preload" as="style" href="{% static 'css/style.css' %}" onload="this.rel = 'stylesheet'" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PokeGrids</title>
</head>

<body>
    <header>
        <div class="container">
            <!-- Title -->
            <h1>PokeGrid</h1>
            <nav>
            <!-- Nav Bar -->
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Help</a></li>
                    <!-- Add more links as needed -->
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <!-- Search Modal -->
        <div class="modal" id="search-modal">
            <div class="modal-content">
                <div>
                    <input placeholder="Search pokemon..." autocomplete="off" autocorrect="off" spellcheck="false" type="search" id="search-input">
                    <div id="pokemon-list" style="max-height: 175px; overflow-y: auto; border: 1px solid #ccc; border-radius: 5px; display: none;">
                        <!-- Dropdown list for Pokemon names -->
                    </div>
                </div>
            </div>
        </div>

        <div class="app">
            <div class="top">
                <div class="col-characteristic" ></div>
                <!-- Placeable pictures or words for characteristics -->
                {% for item in grid_data|slice:":3" %}
                    {% if item.selected == 1 %}
                        <div class="col-characteristic selector1" id="trait-col{{forloop.counter}}">{{item.type}}</div>
                    {% elif item.selected == 2 %}
                        <div class="col-characteristic selector2" id="trait-col{{forloop.counter}}">Gen {{item.generation}}</div>
                    {% elif item.selected == 3 %}
                        <div class="col-characteristic selector3" id="trait-col{{forloop.counter}}">Stage {{item.evolution_stage}}</div>
                    {% elif item.selected == 4 %}
                        <div class="col-characteristic selector4" id="trait-col{{forloop.counter}}">Legendary</div>    
                    {% endif %}
                {% endfor %}
            </div>
            <div class="container">
                <div class="characteristics">
                <!-- Placeable pictures or words for characteristics -->
                {% for item in grid_data|slice:"3:" %}
                    {% if item.selected == 1 %}
                        <div class="row-characteristic selector1" id="trait-row{{forloop.counter}}">{{item.type}}</div>
                    {% elif item.selected == 2 %}
                        <div class="row-characteristic selector2" id="trait-row{{forloop.counter}}">Gen {{item.generation}}</div>
                    {% elif item.selected == 3 %}
                        <div class="row-characteristic selector3" id="trait-row{{forloop.counter}}">Stage {{item.evolution_stage}}</div>
                    {% elif item.selected == 4 %}
                        <div class="row-characteristic selector4" id="trait-row{{forloop.counter}}">Legendary</div>    
                    {% endif %}
                {% endfor %}
                </div>
                <div class="grid-container" id="grid-container">
                    <!-- 3x3 grid -->
                    <div class="grid-item row1 col1" onclick="handleClick(this, event)"></div>
                    <div class="grid-item row1 col2" onclick="handleClick(this, event)"></div>
                    <div class="grid-item row1 col3" onclick="handleClick(this, event)"></div>
                    <div class="grid-item row2 col1" onclick="handleClick(this, event)"></div>
                    <div class="grid-item row2 col2" onclick="handleClick(this, event)"></div>
                    <div class="grid-item row2 col3" onclick="handleClick(this, event)"></div>
                    <div class="grid-item row3 col1" onclick="handleClick(this, event)"></div>
                    <div class="grid-item row3 col2" onclick="handleClick(this, event)"></div>
                    <div class="grid-item row3 col3" onclick="handleClick(this, event)"></div>
                </div>
            </div>
        </div>
    </main>

    <footer>
    </footer>

    <script>
        
        var selectedPokemon = [];

        // Define a debounce function
        function debounce(func, delay) {
            let timeoutId;
            return function () {
                clearTimeout(timeoutId);
                timeoutId = setTimeout(func, delay);
            };
        }

        // Function to open the search modal
        function handleClick(gridItem) {
            // Remove the 'selected' class from any previously selected grid item
            var selectedGridItem = document.querySelector('.grid-item.selected');
            if (selectedGridItem) {
                selectedGridItem.classList.remove('selected');
            }

            // Add the 'selected' class to the current grid item
            gridItem.classList.add('selected');

            // Show the search modal
            document.getElementById('search-modal').style.display = 'block';

            // Select the input and reset its value
            var input = document.querySelector('#search-modal input');
            input.select();
            input.value = '';

            // Add debounced event listener for input changes
            input.addEventListener('input', debounce(fetchPokemonNames, 300));
        }

        // Function to close the search modal
        function closeSearchModal() {
            var modal = document.getElementById('search-modal');
            var pokemonList = document.getElementById('pokemon-list');
            
            // Clear the dropdown and hide it
            pokemonList.innerHTML = '';
            pokemonList.style.display = 'none';

            // Remove input event listener
            var input = document.querySelector('#search-modal input');
            input.removeEventListener('input', debounce(fetchPokemonNames, 300));

            // Hide the modal
            modal.style.display = 'none';
        }

        // Function to fetch Pokemon names and populate the dropdown
        function fetchPokemonNames() {
            // Cancel any existing fetch request
            if (window.abortController) {
                window.abortController.abort();
            }

            // Create a new AbortController
            window.abortController = new AbortController();

            var pokemonList = document.getElementById('pokemon-list');
            var searchInput = document.getElementById('search-input').value;

            // Create a URLSearchParams object to include the search parameter
            var params = new URLSearchParams();
            params.set('search', searchInput);

            // Fetch Pokemon names from Django backend
            fetch('/api/pokemon/?' + params, { signal: window.abortController.signal })
                .then(response => response.json())
                .then(data => {
                    // Clear existing dropdown items
                    pokemonList.innerHTML = '';

                    // Populate the dropdown with Pokemon names and Select buttons
                    data.results.forEach(pokemon => {
                        if (!selectedPokemon.includes(pokemon.name)) {
                            var option = document.createElement('div');
                            option.style.display = 'flex';
                            option.style.alignItems = 'center';

                            var pokemonImage = document.createElement('img');
                            pokemonImage.className = 'pokemon-dropdown-image';

                             

                            // Check if the image with the specified Pokédex number exists
                            doesImageExist(pokemon.pokedex_number, function (exists) {
                                // Update the image source based on whether it exists or not
                                pokemonImage.src = exists
                                    ? `{% static 'img/pokemon/main-sprites/' %}${pokemon.pokedex_number}.png`
                                    : '{% static 'img/pokemon/main-sprites/0.png' %}';
                            });

                            var nameSpan = document.createElement('span');
                            nameSpan.textContent = pokemon.name;

                            var selectButton = document.createElement('button');
                            selectButton.textContent = 'Select';

                            // Set up an event listener to handle click on the "Select" button
                            selectButton.addEventListener('click', function () {
                                handleSelect(pokemon);
                            });

                            // Append the image, name, and "Select" button to the dropdown
                            option.appendChild(pokemonImage);
                            option.appendChild(nameSpan);
                            option.appendChild(selectButton);

                            // Append the option to the dropdown
                            pokemonList.appendChild(option);
                        }
                    });

                    // Show the dropdown
                    pokemonList.style.display = 'block';
                })
                .catch(error => {
                    if (error.name !== 'AbortError') {
                        console.error('Error fetching Pokemon names:', error);
                    }
                });
        }

        function doesImageExist(pokedexNumber, callback) {
            var img = new Image();
            img.onload = function () {
                callback(true);
            };
            img.onerror = function () {
                callback(false);
            };
            img.src = `{% static 'img/pokemon/main-sprites/' %}${pokedexNumber}.png`;
        }

    
        // Handle clicks outside the modal to close it
        window.onclick = function(event) {
            var modal = document.getElementById('search-modal');
            if (event.target == modal) {
                closeSearchModal();
            }
        };

        // Check trait of pokemon to selected trait
        function checkTrait(pokemon, trait, traitText, selector) {
            switch (`${selector}`) {
                case 'selector1':
                    return pokemon.type1 == trait.textContent || pokemon.type2 == trait.textContent;
                case 'selector2':
                    var traitGeneration = parseInt(traitText.match(/\d+/)[0], 10);
                    return pokemon.generation == traitGeneration;
                case 'selector3':
                    var traitStage = parseInt(traitText.match(/\d+/)[0], 10);
                    return pokemon.evolution_stage == traitStage;
                case 'selector4':
                    return pokemon.lengendary != "Normal";
                default:
                    return false;
            }
        }

        function handleSelect(pokemon) {
            var selectedGridItem = document.querySelector('.grid-item.selected');
            
            if (selectedGridItem) {

                // Check if a Pokemon is already selected for this grid
                if (selectedPokemon.includes(pokemon.name)) {
                    alert("Pokemon already selected for this grid!");
                    return;
                }

                // Get the row and col classes from the selectedGridItem
                var rowClass = [...selectedGridItem.classList].find(className => className.startsWith('row'));
                var colClass = [...selectedGridItem.classList].find(className => className.startsWith('col'));

                // Get the corresponding row and col traits
                var rowTrait = document.querySelector(`#${rowClass.replace('row', 'trait-row')}`);
                var colTrait = document.querySelector(`#${colClass.replace('col', 'trait-col')}`);

                var rowTraitText = rowTrait.textContent
                var colTraitText = colTrait.textContent

                 // Get the row and col values without the prefixes
                var rowValue = parseInt(rowClass.replace("row", ""), 10);
                var colValue = parseInt(colClass.replace("col", ""), 10);

                console.log(rowValue);

                // Check the class selectors of rowTrait and colTrait
                var rowSelector = [...rowTrait.classList].find(className => className.startsWith('selector'));
                var colSelector = [...colTrait.classList].find(className => className.startsWith('selector'));

                var rowCheck = checkTrait(pokemon, rowTrait, rowTraitText, rowSelector);
                var colCheck = checkTrait(pokemon, colTrait, colTraitText, colSelector);

                if (rowCheck && colCheck) {
                    if (selectedGridItem.textContent) {
                        // Remove the corresponding Pokémon name from the selectedPokemon array
                        var previousPokemonName = selectedGridItem.textContent;
                        var indexToRemove = selectedPokemon.indexOf(previousPokemonName);
                        
                        if (indexToRemove !== -1) {
                            selectedPokemon.splice(indexToRemove, 1);
                        }
                    }

                    // Update the selected Pokemon and prevent it from being selected again
                    selectedPokemon.push(pokemon.name);

                    // Calculate the percentage for the selected Pokemon in this grid
                    var date = getFormattedDate();
                    var gridIndex = getGridIndex(rowValue, colValue)
                    getTotalSubmissionsInGrid(date)
                    .then(totalSubmissions => {
                        return getPokemonStatisticCount(gridIndex, pokemon.name, date)
                            .then(selectedPokemonCount => {

                                var percentage = (selectedPokemonCount / totalSubmissions) * 100;
                                console.log('total submissions: ' + totalSubmissions);
                                console.log('selectedPokemonCount: ' + selectedPokemonCount);
                                console.log(percentage);

                                // Update the grid item with the Pokemon name and percentage
                                var percentageElement = document.createElement('div');
                                percentageElement.className = 'percentage';
                                percentageElement.textContent = `${percentage.toFixed(2)}%`;

                                var pokemonImageElement = document.createElement('img');
                                pokemonImageElement.className = 'pokemon-image'; 
                                pokemonImageElement.src = `{% static 'img/pokemon//main-sprites/' %}${pokemon.pokedex_number}.png`;

                                var pokemonNameElement = document.createElement('div');
                                pokemonNameElement.className = 'pokemon-name';
                                pokemonNameElement.textContent = pokemon.name;

                                // Clear existing content and append the new elements
                                selectedGridItem.innerHTML = '';
                                selectedGridItem.appendChild(percentageElement);
                                selectedGridItem.appendChild(pokemonImageElement);
                                selectedGridItem.appendChild(pokemonNameElement);

                            });
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        // Handle the error as needed
                    });

                    //Check to see if the grid is completed and send a submission if full
                    if (selectedPokemon.length === 9) {
                        submitGrid();
                        closeSearchModal();
                    }
                }
            }

            closeSearchModal();
        }

        function getGridIndex(row, col) {
            return (row - 1) * 3 + (col - 1)
        }

        function getTotalSubmissionsInGrid(date) {
            return fetch(`/api/submission-count/${date}/`)
                .then(response => response.json())
                .then(data => {
                    if ('count' in data) {
                        if (data.count !== 0){
                            return data.count/8;
                        } else {
                            return 1;
                        }
                    } else {
                        throw new Error('Failed to get submission count');
                    }
                })
                .catch(error => {
                    console.error('Error fetching submission count:', error);
                    return 0; // Return a default value or handle the error as needed
                });
        }

        function getPokemonStatisticCount(grid, pokemonName, date) {
            return fetch(`/api/pokemon-statistic-count/${grid}/${pokemonName}/${date}/`)
                .then(response => {
                    if (response.ok) {
                        return response.json();
                    } else if (response.status === 500) {
                        // PokemonStatistic not found, return 0
                        return { count: 0 };
                    } else {
                        throw new Error(`HTTP error! Status: ${response.status}`);
                    }
                })
                .then(data => {
                    if ('count' in data) {
                        return data.count;
                    } else {
                        throw new Error('Failed to get submission count for the PokemonStatistic');
                    }
                })
                .catch(error => {
                    console.error('Error fetching submission count for the PokemonStatistic:', error);
                    return 0; // Return a default value or handle the error as needed
                });
        }

        // Function to handle the submission process
        function submitGrid() {
            alert("Submitting the grid!");
            var gridIndex = 0;
            for (let row = 1; row <= 3; row++) {
                for (let col = 1; col <= 3; col++) {
                    // Get the selected Pokemon name from the grid item
                    sendPayload(gridIndex, row, col);
                    gridIndex++;
                }
            }
        }

        function sendPayload(gridIndex, row, col) {
            const gridItem = document.querySelector(`.grid-item.row${row}.col${col}`);
            const pokemonName = gridItem.querySelector('.pokemon-name').textContent; 
            if (pokemonName) {
                // Create the payload for the POST request
                var formattedDate = getFormattedDate();
                const payload = {
                    grid: gridIndex,
                    date: formattedDate, // Add the current date or adjust as needed
                    pokemon: pokemonName, // Assuming 'name' is the identifier for the Pokemon
                };
                console.log(payload)
                // Send a POST request to the API endpoint
                fetch('/api/submission/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': getCookie('csrftoken'), // Include CSRF token
                    },
                    body: JSON.stringify(payload),
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error(`HTTP error! Status: ${response.status}`);
                    }
                    return response.json();
                })
                .then(data => {
                    console.log('Submission successful:', data);
                })
                .catch(error => {
                    console.error('Error submitting grid:', error);
                    // Handle the error as needed
                });
            }
        }

        function getFormattedDate() {
            const currentDate = new Date();
            return `${currentDate.getFullYear()}-${(currentDate.getMonth() + 1).toString().padStart(2, '0')}-${currentDate.getDate().toString().padStart(2, '0')}`;
        }

        // Function to get CSRF token from cookie
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    
    </script>
    
</body>

</html>
