{% block content %}
<div class="container">
    <h1>Privacy Policy</h1>

    <p>Your privacy is important to us. This Privacy Policy explains how we collect, use, disclose, and safeguard your information when you use our website.</p>

    <h2>Information We Collect</h2>
    <p>We may collect personal information that you provide directly to us, such as your name, email address, and any other information you choose to provide.</p>

    <h2>How We Use Your Information</h2>
    <p>We use the information we collect for various purposes, including to provide and improve our services, communicate with you, and personalize your experience.</p>

    <h2>Disclosure of Your Information</h2>
    <p>We may share your information with third parties only as described in this Privacy Policy and as necessary for the operation of our website.</p>

    <h2>Security</h2>
    <p>We take reasonable measures to help protect your personal information from unauthorized access, use, or disclosure.</p>

    <h2>Changes to This Privacy Policy</h2>
    <p>We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.</p>

    <p>This Privacy Policy was last updated on 1/13/2024.</p>

    <h2>Contact Us</h2>
    <p>If you have any questions about this Privacy Policy, please contact us at pokegrids@gmail.com.</p>
  </div>
{% endblock %}